* {
    // border: 1px solid blueviolet;
}

html {

    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;

    font-size: 125%;
    background: white;
}

.wrapper {
    margin: 0 5%;
}

h1, h2 {
    text-transform: uppercase;
    color: $primaryFontColor;
    margin: 0;
    padding: 5% 0;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
}

p {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    line-height: 1.5rem;
}