header {
    height: 100vh;
    background: url(../assets/heroBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @include mqSmallTablet {
        background-position: 60%;
    }

    @include mqLargeMobile {
        background-position: 85%;
    }

    nav {
        width: 30%;
        margin-left: 70%;

        @include mqTablet {

            position: absolute;
            top: -50px;
            width: 100%;
            margin: 0;
            transition: all 0.5s;
            background: rgba(255,255,255,0.9);
        }

        ul {
            margin: 0;
            padding: 0;

            @include mqTablet {
                width: 80%;
                margin: 0 auto;
            }

            @include mqLargeMobile {
                width: 100%;
            }

            @include mqMobile {
                width: 90%;
                margin-right: 10%;
            }

            li {
                display: inline;
                text-align: center;

            }

            a {
                display: inline-block;
                width: 20%;
                padding: .75rem 0;
                margin: 0;
                text-decoration: none;
                color: $primaryFontColor;
                font-size: 1rem;
                text-transform: uppercase;

                @include mqMobile {
                    font-size: 0.85rem;
                }
            }

            hr {
                height: .25rem;
                width: 20%;
                margin: 0;
                background: $tertiaryFontColor;
                border: none;
                transition: .3s ease-in-out;

                @include mqTablet {
                    display: none;
                }
            }

            .about:hover ~ hr {
                margin-left: 20%;
            }

            .skills:hover ~ hr {
                margin-left: 40%;
            }

            .projects:hover ~ hr {
                margin-left: 60%;
            }

            .contact:hover ~ hr {
                margin-left: 80%;
            }
        }
    }

    .fa-bars {
        font-size: 3rem;
        color: $primaryFontColor;

        @include mqMobile {
            font-size: 2.5rem;
        }
    }

    .fa-times {
        font-size: 3rem;
        color: $primaryFontColor;

        @include mqMobile {
            font-size: 2.5rem;
        }
    }


    input[type="checkbox"] {
        display: none;
    }

    label[icon-type="bars"] {
        display: none;
        position: absolute;
        z-index: 20;
        top: 0px;
        right: 5px;
        transition: all 0.5s;

        @include mqTablet {
            display: block;
        }
    }

    input[type="checkbox"]:checked + nav {
        top: 0;
        z-index: 10;

        @include mqTablet {
            position: fixed;
        }
    }

    label[icon-type="times"] {
        display: none;
        position: absolute;
        z-index: 20;
        top: 0px;
        right: 5px;
        transition: all 0.5s;
        
        @include mqTablet {
            display: block;
        }
    }

    input[type="checkbox"]:checked ~ label[icon-type="bars"] {
        transform: scale(0);
    }

    input[type="checkbox"] ~ label[icon-type="times"] {
        transform: scale(0);
        display: block;
        position: fixed;
    }

    input[type="checkbox"]:checked ~ label[icon-type="times"] {
        transform: scale(1)
        
    }

    .titleContainer {
        position: absolute;
        top: 30%;
        left: 55.5%;
        transform-origin: top left;
        transform: rotate(18deg);
        width: 350px;

        @include mqTablet {
            left: 62.5%;
        }

        @include mqSmallTablet {
            left: 49.5%;
        }

        @include mqLargeMobile {
            display: none;
        }

        p {
            font-family: 'Raleway', sans-serif;
            color: $secondaryFontColor;
            margin: 15px 5px;
            
        }
    }
    
    .titleContainerMobile {
        display: none;
        
        @include mqLargeMobile {
            display: block;
            transform-origin: unset;
            transform: none;
            margin: 0 auto;
            padding-top: 30vh;
        }
        
        .name {
            background: url(../assets/heroBackgroundMobile.jpg) center;
            background-size: contain;
        }

        h1 {
            @include mqLargeMobile {
                // color: #000;
                color: $primaryFontColor;
                background: #fff;
                mix-blend-mode: screen;
                border: 5px solid black;
                text-align: center;
            }

            @include mqMobile {
                font-size: 4.5rem;
            }
        }
        
        p {
            @include mqLargeMobile {
                color: $secondaryFontColor;
                background: $tertiaryFontColor;
                text-align: center;
                font-size: 1.5rem;
                margin-top: 15px;
            }

        }
    }
    
}