header {
    height: 100vh;
    background: url(../assets/heroBackgroundAlt.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    nav {
        width: 30%;
        margin-left: 70%;

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline;
                text-align: center;

            }

            a {
                display: inline-block;
                width: 20%;
                padding: .75rem 0;
                margin: 0;
                text-decoration: none;
                color: $primaryFontColor;
                font-size: 1rem;
                text-transform: uppercase;
            }

            hr {
                height: .25rem;
                width: 20%;
                margin: 0;
                background: $tertiaryFontColor;
                border: none;
                transition: .3s ease-in-out;
            }

            .about:hover ~ hr {
                margin-left: 20%;
            }

            .skills:hover ~ hr {
                margin-left: 40%;
            }

            .projects:hover ~ hr {
                margin-left: 60%;
            }

            .contact:hover ~ hr {
                margin-left: 80%;
            }
        }
    }

    .titleContainer {
        position: absolute;
        top: 30%;
        left: 55.5%;
        transform-origin: top left;
        transform: rotate(18deg);
        width: 350px;
    }

    p {
        font-family: 'Raleway', sans-serif;
        color: $secondaryFontColor;
        margin: 15px 5px;
    }
}