html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 125%;
  background: white;
}

.wrapper {
  margin: 0 5%;
}

h1, h2 {
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  padding: 5% 0;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
}

p {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  line-height: 1.5rem;
}

header {
  height: 100vh;
  background: url(../assets/heroBackgroundAlt.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

header nav {
  width: 30%;
  margin-left: 70%;
}

@media (max-width: 900px) {
  header nav {
    width: 100%;
    margin: 0;
  }
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  text-align: center;
}

header nav ul a {
  display: inline-block;
  width: 20%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #222222;
  font-size: 1rem;
  text-transform: uppercase;
}

header nav ul hr {
  height: .25rem;
  width: 20%;
  margin: 0;
  background: #f7484e;
  border: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header nav ul .about:hover ~ hr {
  margin-left: 20%;
}

header nav ul .skills:hover ~ hr {
  margin-left: 40%;
}

header nav ul .projects:hover ~ hr {
  margin-left: 60%;
}

header nav ul .contact:hover ~ hr {
  margin-left: 80%;
}

header .titleContainer {
  position: absolute;
  top: 30%;
  left: 55.5%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
  width: 350px;
}

@media (max-width: 900px) {
  header .titleContainer {
    left: 62.5%;
  }
}

header p {
  font-family: 'Raleway', sans-serif;
  color: #d6cdcd;
  margin: 15px 5px;
}

.aboutSection {
  height: 100vh;
  background: #fff;
}

.aboutSection h2 {
  text-align: right;
  position: absolute;
  top: -200px;
  right: 50px;
}

@media (max-width: 900px) {
  .aboutSection h2 {
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
  }
}

.aboutSection .aboutContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40%;
      grid-template-columns: 1fr 40%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  height: 100vh;
}

@media (max-width: 900px) {
  .aboutSection .aboutContent {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 10% 1fr;
        grid-template-rows: 10% 1fr;
    grid-column-gap: 0;
    grid-row-gap: 25px;
  }
}

.aboutSection .headshotContainer {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
}

@media (max-width: 900px) {
  .aboutSection .headshotContainer {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.aboutSection .headshotContainer .headshotGraphic {
  position: relative;
  width: 350px;
  height: 350px;
}

.aboutSection .headshotContainer .headshot {
  max-width: 100%;
  position: absolute;
  top: -100px;
}

@media (max-width: 900px) {
  .aboutSection .headshotContainer .headshot {
    left: 125%;
    top: -105px;
  }
}

.aboutSection .headshotContainer h2 {
  position: absolute;
  right: 0;
  top: 5%;
}

.aboutSection .bioContainer {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (max-width: 900px) {
  .aboutSection .bioContainer {
    -ms-grid-row: 2;
    grid-row: 2;
    grid-column-gap: 25px;
  }
}

.aboutSection .bioContainer div {
  width: 80%;
  margin-left: 20%;
}

@media (max-width: 900px) {
  .aboutSection .bioContainer div {
    width: 100%;
    margin: 0;
  }
}

.aboutSection .bioContainer h3 {
  text-transform: capitalize;
  position: relative;
  display: inline-block;
}

.aboutSection .bioContainer h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  opacity: 1;
  margin: 5px 0 0;
  background: #f7484e;
}

.aboutSection .bioContainer p {
  font-size: 1.25rem;
  line-height: 2.15rem;
  margin-bottom: 15px;
}

.aboutSection .bioContainer a {
  text-decoration: none;
  color: #222222;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.aboutSection .bioContainer a::before, .aboutSection .bioContainer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  opacity: 0;
  background-color: #f63036;
}

.aboutSection .bioContainer a:hover::before, .aboutSection .bioContainer a:hover::after, .aboutSection .bioContainer a:focus::before, .aboutSection .bioContainer a:focus::after {
  width: 100%;
  opacity: 1;
}

.skillsSection {
  height: 100vh;
  background: #101010;
}

.skillsSection h2 {
  color: #fff;
}

.skillsSection ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 80%;
  height: 50vh;
  margin-right: 20%;
}

@media (max-width: 900px) {
  .skillsSection ul {
    width: 100%;
    margin-right: 0;
    justify-items: center;
  }
}

@media (max-width: 768px) {
  .skillsSection ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    height: 70vh;
  }
}

@media (max-width: 600px) {
  .skillsSection ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: 80vh;
  }
}

.skillsSection i {
  color: #f7484e;
  font-size: 6rem;
}

@media (max-width: 600px) {
  .skillsSection i {
    font-size: 4rem;
  }
}

.skillsSection li {
  width: 100px;
  list-style-type: none;
  text-align: center;
}

.skillsSection li h4 {
  color: #f7484e;
  margin: 0;
  margin-top: 15px;
}

.skillsSection .html5Icon, .skillsSection .css3Icon, .skillsSection .jqueryIcon span {
  text-transform: uppercase;
}

.skillsSection .javascriptIcon, .skillsSection .reactIcon, .skillsSection .firebaseIcon, .skillsSection .gitIcon, .skillsSection .githubIcon, .skillsSection .sassIcon, .skillsSection .vsIcon {
  text-transform: capitalize;
}

.skillsSection .firebaseIconContainer {
  width: 100%;
  height: 100%;
}

.skillsSection .firebaseIconContainer img {
  max-width: 100%;
}

@media (max-width: 600px) {
  .skillsSection .firebaseIconContainer {
    width: 65px;
    height: 65px;
    margin: 0 auto;
  }
}

.projectsSection {
  height: 100vh;
  background: url(../assets/projectsBackground.png) #f7484e;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 900px) {
  .projectsSection {
    background-position: 40% 150px;
  }
}

.projectsSection h2 {
  text-align: right;
}

@media (max-width: 900px) {
  .projectsSection h2 {
    text-align: left;
  }
}

.projectsSection .slickContainer {
  width: 90%;
  height: 45vh;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .projectsSection .slickContainer {
    height: 75vh;
  }
}

.projectsSection .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .projectsSection .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 25px;
  }
}

.projectsSection .screenshotContainer {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.projectsSection .screenshotContainer img {
  max-width: 100%;
}

@media (max-width: 900px) {
  .projectsSection .screenshotContainer {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.projectsSection .appDescriptionContainer {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.projectsSection .appDescriptionContainer h3 {
  margin: 0;
  margin-bottom: 15px;
}

.projectsSection .appDescriptionContainer ul {
  margin: 15px 0;
}

.projectsSection .appDescriptionContainer p {
  margin: 0.25rem;
}

@media (max-width: 900px) {
  .projectsSection .appDescriptionContainer {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.projectsSection .appLinks {
  margin-top: 50px;
}

.projectsSection .appLinks a {
  text-decoration: none;
  width: 150px;
  background: #222222;
  color: #d6cdcd;
  padding: 10px 25px;
  text-transform: uppercase;
}

.projectsSection .appLinks a:hover, .projectsSection .appLinks a:focus {
  color: #f7484e;
}

.projectsSection .dineAndDashProject span {
  text-decoration: line-through;
}

.contactSection {
  height: 100vh;
  background: url(../assets/contactBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contactSection form {
  width: 60%;
  margin: 0 auto;
}

.contactSection form input, .contactSection form textarea, .contactSection form button {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border: 3px solid #f7484e;
  color: #222222;
  padding: 15px;
  margin-bottom: 15px;
}

.contactSection form button {
  background: #f7484e;
  color: #222222;
  text-transform: uppercase;
  padding: 15px 0;
}

@media (max-width: 900px) {
  .contactSection form {
    width: 100%;
  }
}

.contactSection .socialLinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  padding: 0;
  width: 35%;
  text-align: center;
  margin: 25px auto 75px;
}

.contactSection .socialLinks li {
  list-style-type: none;
}

@media (max-width: 900px) {
  .contactSection .socialLinks {
    width: 100%;
  }
}

.contactSection .socialLinks a {
  text-decoration: none;
  color: #222222;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  font-size: 3rem;
}

@media (max-width: 600px) {
  .contactSection .socialLinks a {
    font-size: 2.5rem;
  }
}

.contactSection .socialLinks a::before, .contactSection .socialLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  opacity: 0;
  background-color: #f63036;
}

.contactSection .socialLinks a:hover::before, .contactSection .socialLinks a:hover::after, .contactSection .socialLinks a:focus::before, .contactSection .socialLinks a:focus::after {
  width: 80%;
  opacity: 1;
}

.contactSection nav {
  width: 30%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .contactSection nav {
    width: 100%;
  }
}

.contactSection nav ul {
  margin: 0;
  padding: 0;
}

.contactSection nav ul li {
  display: inline;
  text-align: center;
}

.contactSection nav ul a {
  display: inline-block;
  width: 20%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #222222;
  font-size: 1rem;
  text-transform: uppercase;
}

.contactSection nav ul hr {
  height: .25rem;
  width: 20%;
  margin: 0;
  background: #f7484e;
  border: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin-left: 80%;
}

.contactSection nav ul .home:hover ~ hr {
  margin-left: 0%;
}

.contactSection nav ul .about:hover ~ hr {
  margin-left: 20%;
}

.contactSection nav ul .skills:hover ~ hr {
  margin-left: 40%;
}

.contactSection nav ul .projects:hover ~ hr {
  margin-left: 60%;
}
